* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: linear-gradient(rgb(1, 1, 55), rgb(0, 0, 36));
  color: aliceblue;
}

#header {
  display: flex;
  flex-direction: column;
}

#header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 1, 55);
  color: aliceblue;
  padding: 0.1em 5%;
}

#header-title-image {
  display: flex;
  align-items: center;
  gap: 5em;
}

#header-title-image img {
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

#header-title h1 {
  font-size: 4em;
  font-family: Verdana, Geneva, Tahoma, fantasy;
  font-weight: 800;
  letter-spacing: 0.3em;
  word-spacing: 0.3em;
  background: linear-gradient(rgb(66, 116, 160), aliceblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgb(40, 77, 110));
}

#cart-btn {
  display: flex;
  align-items: center;
  font-size: 3em;
}

#header-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 5%;
  background-color: rgb(3, 3, 86);
  color: aliceblue;
  height: 5em;
}

#contact-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 3em;
}

#shipping-icon {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 3em;
}

#jewels {
  width: 90%;
  max-width: 110em;
  list-style: none;
  margin: 1.5em auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 2em;
}

.gem-item {
  background-color: rgb(6, 6, 116);
  border-radius: 1em;
  text-align: center;
  box-shadow: 0 1px 6px rgba(89, 64, 215, 0.3);
  overflow: hidden;
}

.gem-item article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gem-item img {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.gem-item h2 {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0.8em 0;
}

.gem-item h5 {
  display: inline-block;
  background-color: rgb(39, 9, 83);
  color: rgb(241, 108, 37);
  padding: 0.5em 2em;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 5px;
  margin: 0 0 0 6em;
}

.gem-item p {
  margin: 1em;
  font-size: 1em;
  letter-spacing: 0.08em;
}
